*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 1000px;
    max-width: 100%;
    margin: auto;
    padding: 10px;
}
img{
    width: 1000px;
    max-width: 100%;
}
.text{
    opacity: 0;
    transform: translateY(15px);
    transition: 0.5s all ease;
}
.text.show-review{
    opacity: 1;
    transform: translateY(0px);
}
